In [2]:
s=['Congrats. You have won a lottery and you can get lottery money by calling lottery number',
   'Give your bank details for lottery',
   'lottery for sure if bank details are verified']

In [3]:
type(s)

list

In [4]:
#tokenization- splitting of data into small elements/words

In [5]:
s[0].split()

['Congrats.',
 'You',
 'have',
 'won',
 'a',
 'lottery',
 'and',
 'you',
 'can',
 'get',
 'lottery',
 'money',
 'by',
 'calling',
 'lottery',
 'number']

In [6]:
s[1].split()

['Give', 'your', 'bank', 'details', 'for', 'lottery']

In [7]:
s[2].split()

['lottery', 'for', 'sure', 'if', 'bank', 'details', 'are', 'verified']

In [8]:
#count vectorizer - feature extraction
from sklearn.feature_extraction.text import CountVectorizer

In [9]:
vect=CountVectorizer(stop_words='english')

In [10]:
op=vect.fit_transform(s).toarray()
op

array([[0, 1, 1, 0, 3, 1, 1, 0, 0, 1],
       [1, 0, 0, 1, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 1, 0]])

In [11]:
import pandas as pd
df=pd.DataFrame(op,columns=vect.get_feature_names())
df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,bank,calling,congrats,details,lottery,money,number,sure,verified,won
0,0,1,1,0,3,1,1,0,0,1
1,1,0,0,1,1,0,0,0,0,0
2,1,0,0,1,1,0,0,1,1,0

In [12]:
import pandas as pd
df=pd.read_table("https://raw.githubusercontent.com/diazoniclabs/Machine-Learning-using-sklearn/master/Datasets/spam.tsv")
df.head()

  label                                            message  length  punct
0   ham  Go until jurong point, crazy.. Available only ...     111      9
1   ham                      Ok lar... Joking wif u oni...      29      6
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155      6
3   ham  U dun say so early hor... U c already then say...      49      6
4   ham  Nah I don't think he goes to usf, he lives aro...      61      2

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   label    5572 non-null   object
 1   message  5572 non-null   object
 2   length   5572 non-null   int64
 3   punct    5572 non-null   int64
dtypes: int64(2), object(2)
memory usage: 174.2+ KB

In [14]:
df['label'].value_counts()

ham     4825
spam     747
Name: label, dtype: int64

In [15]:
x=df['message'].values
y=df['label'].values

In [16]:
x

array(['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
       'Ok lar... Joking wif u oni...',
       "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
       ..., 'Pity, * was in mood for that. So...any other suggestions?',
       "The guy did some bitching but I acted like i'd be interested in buying something else next week and he gave it to us for free",
       'Rofl. Its true to its name'], dtype=object)

In [17]:
y

array(['ham', 'ham', 'spam', ..., 'ham', 'ham', 'ham'], dtype=object)

In [18]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=0)

In [19]:
print(x_train.shape)
print(x_test.shape)

(4179,)
(1393,)

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
vect=CountVectorizer(stop_words='english')
x_train_vect=vect.fit_transform(x_train)
x_test_vect=vect.transform(x_test)

In [21]:
from sklearn.svm import SVC   #SVM - Support Vector Machine
                              #SVC - Support Vector Classifier

In [22]:
model=SVC()
model.fit(x_train_vect,y_train)

SVC()

In [23]:
y_pred=model.predict(x_test_vect)
y_pred

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [24]:
y_test

array(['ham', 'spam', 'ham', ..., 'spam', 'ham', 'ham'], dtype=object)

In [25]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.9813352476669059

In [26]:
#Using a pipeline
#piepeline is used to  combine 2 estimators/ two different processes together
#pipleline includes fit, predict, metrics

In [27]:
#PIPELINE= SVC+Count Vectorizer
from sklearn.pipeline import make_pipeline
text_model=make_pipeline(CountVectorizer(),SVC())

text_model.fit(x_train,y_train)
y_pred=text_model.predict(x_test)
y_pred

array(['ham', 'spam', 'ham', ..., 'ham', 'ham', 'ham'], dtype=object)

In [28]:
import joblib
joblib.dump(text_model,'spam-ham')

['spam-ham']

In [29]:
import joblib
model=joblib.load('/content/spam-ham')

In [30]:
model.predict(['hi there'])

array(['ham'], dtype=object)

In [31]:
%%writefile app.py
import streamlit as st
import joblib
st.title("SPAM HAM CLASSIFIER")
text_model=joblib.load('spam-ham')
ip=st.text_input("Enter your message: ")
op=text_model.predict([ip])
if st.button('Predict'):
  st.title(op[0])

Writing app.py

In [32]:
!pip install streamlit --quiet

     |████████████████████████████████| 10.1 MB 5.3 MB/s
     |████████████████████████████████| 181 kB 59.9 MB/s
     |████████████████████████████████| 4.3 MB 43.5 MB/s
     |████████████████████████████████| 164 kB 55.1 MB/s
     |████████████████████████████████| 77 kB 2.3 MB/s
     |████████████████████████████████| 111 kB 53.3 MB/s
     |████████████████████████████████| 63 kB 1.0 MB/s
     |████████████████████████████████| 131 kB 62.9 MB/s
     |████████████████████████████████| 793 kB 34.3 MB/s
     |████████████████████████████████| 428 kB 63.8 MB/s
     |████████████████████████████████| 130 kB 51.1 MB/s
     |████████████████████████████████| 381 kB 52.2 MB/s
  Building wheel for blinker (setup.py) ... done
  Building wheel for validators (setup.py) ... done
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyter-console 5.2.0 requires prompt-toolkit<2.0.0,>=1.0.0, but you have prompt-toolkit 3.0.29 which is incompatible.
google-colab 1.0.0 requires ipykernel~=4.10, but you have ipykernel 6.13.0 which is incompatible.
google-colab 1.0.0 requires ipython~=5.5.0, but you have ipython 7.33.0 which is incompatible.
google-colab 1.0.0 requires tornado~=5.1.0; python_version >= "3.0", but you have tornado 6.1 which is incompatible.

In [ ]:
!streamlit run app.py & npx localtunnel --port 8501

2022-05-25 03:41:20.240 INFO    numexpr.utils: NumExpr defaulting to 2 threads.
npx: installed 22 in 2.824s
your url is: https://full-webs-own-35-237-89-243.loca.lt

  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.2:8501
  External URL: http://35.237.89.243:8501